body{
	margin-left: 350px;
    min-height: 100vh;
    background: #e86a85;
}

.container{
    padding-right: 100px;
    margin-right: 100px;
    width: 1112px;
}

@media(max-width:1280px){
	.container{
		width: 824px;
		margin-right: 0px;
	}
}

@media(max-width:768px){
	.container{
	    margin-right: 0px;
	    margin-left: 350px;
	    width: 394px;
	}
}