<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardMapper">
   <!-- 게시판 글 작성 -->
   <insert id="insert">
	   INSERT INTO MP_BOARD(    BNO 
	   					      , TITLE 
	   					      , CONTENT 
	   					      , WRITER  )
	                 VALUES(    MP_BOARD_SEQ.NEXTVAL 
	                 		  , #{title}
	                 		  , #{content}
	                 		  , #{writer}  )
   
   </insert>
   
   	<select id="list" resultType="kr.co.vo.BoardVO">
		SELECT   BNO
			   , TITLE
			   , WRITER
			   , REGDATE
		  FROM MP_BOARD
		  ORDER BY BNO DESC
	</select>
	
	<select id="read" parameterType="int" resultType="kr.co.vo.BoardVO">
		SELECT	BNO
			  , TITLE
			  , CONTENT
			  , WRITER
			  , REGDATE
		 FROM MP_BOARD
		 WHERE BNO = #{bno}
	</select>
	
	<update id="update" parameterType="kr.co.vo.BoardVO">
		UPDATE MP_BOARD
		   SET TITLE    =   #{title}
		   	 , CONTENT  =   #{content}
		 WHERE BNO = #{bno} 
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE 
		  FROM MP_BOARD
		 WHERE BNO = #{bno}
	</delete>
	
	<select id="listPage" resultType="kr.co.vo.BoardVO" parameterType="kr.co.vo.SearchCriteria">
		SELECT  BNO, 
		        TITLE, 
		        CONTENT,
		        WRITER, 
		        REGDATE,
		        HIT,
		        ANSWER
		 FROM ( 
		        SELECT BNO, 
		               TITLE, 
		               CONTENT, 
		               WRITER, 
		               REGDATE,
		               HIT,
		               ANSWER,
		               ROW_NUMBER() OVER(ORDER BY BNO DESC) AS RNUM
		         FROM MP_BOARD
		         WHERE 1=1 
		         	<include refid="search"></include>
		                       ) MP
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}
		ORDER BY BNO DESC
	</select>
	
	<select id="listCount" parameterType="kr.co.vo.SearchCriteria" resultType="int">
		SELECT COUNT(BNO)
		   FROM MP_BOARD
		   WHERE 1=1
		<include refid="search"></include>	
		   AND BNO > 0
	</select>
	
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">AND TITLE LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'c'.toString()">AND CONTENT LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'w'.toString()">AND WRITER LIKE '%' || #{keyword} || '%'</if>
			<if test="searchType == 'tc'.toString()">AND (TITLE LIKE '%' || #{keyword} || '%') or (CONTENT LIKE '%' || #{keyword} || '%')</if>
		</if>
	</sql>
	
	<!-- 게시판 조회수 -->
	<update id="boardHit" parameterType="int">
		UPDATE MP_BOARD SET
		HIT = HIT+1
		WHERE BNO = #{bno}
	</update>
	
	<!-- 게시판 답변완료 -->
	<!-- 답변완료 및 답변대기 가능 -->
	<update id="boardAnswer" parameterType="kr.co.vo.BoardVO">
		UPDATE MP_BOARD A
		SET
		    ANSWER = (
		CASE
		WHEN EXISTS
			( SELECT RNO FROM MP_REPLY B WHERE A.BNO = B.BNO) 
			THEN '답변완료' ELSE '답변대기' END)
   </update>

</mapper>